@import "compass/reset";
@import "compass/css3";
@import "bootstrap";


//---start navBar styling
#navBar{
	@extend .navbar;
	@extend .navbar-default;

	>div{@extend .container-fluid;}
	div.collapsed-nav{
			@extend .navbar-header;
	 		a{@extend .navbar-brand;}
	};
}

#viewControls{
	overflow:hidden;
	@extend .collapse;
	@extend .navbar-collapse;

	>ul{
		@extend .nav;
		@extend .navbar-nav;
	}
	form{
		@extend .navbar-form; 
		@extend .navbar-left;

		>div{@extend .form-group}
		input{@extend .form-control}
	}
}
//---end navBar styling 

#playerList{
	@extend .col-xs-7;
}

.player{
	@extend .panel;
	@extend .panel-default;
	margin-bottom:5px;
	cursor:pointer;

	>div{
		@extend .panel-body;
		padding:5px 15px;
		
		div.name{font-weight:700;width:45%;float:left};
		div.position,div.team{margin-left:25px;float:left}
	}	
}
.player.selected{
	background-color:#F5F5F5;
}
#sideBar{@extend .col-xs-5}
#infoPane{
	@extend .col-xs-12;
	@extend .well;
	@include transition-property(height);
	@include transition-duration(800ms);
	padding:10px 15px;
	overflow:hidden;		
	
	div.name,div.position,div.team{text-align: center;}
	div.name{
		@extend .col-xs-12;
		h2{
			margin-top:10px;
			margin-bottom:5px;
		}
	}
	div.position,div.team,div.byeWeek{
		padding:0 10px;
		
		p{
			font-size:1.3em;
			text-align: center;
		}
	}	
	div.position,div.team{
		@extend .col-xs-6;
		@extend .col-sm-3;		
	}

	div.byeWeek{
		padding:0px;
		@extend .col-xs-12;
		@extend .col-sm-6;

		span{
			@extend .visible-lg-inline;
		}
	}

	div.depthChart{
		@extend .col-xs-12;
		@extend .col-md-7;

		>div{
			@extend .panel;
			@extend .panel-default;
		}
		table{
			@extend .table; 
			@extend .table-condensed;
			@extend .table-hover;
		}
		td,th{text-align:center;}
		th{font-weight:bold;}
		th.Not.Available{
			border-bottom:none;
			font-weight:normal;
		}
		td{cursor:pointer;}
	}
	div.logo{
		@extend .hidden-xs;
		@extend .hidden-sm;
		@extend .col-md-5;
		float:right;
		padding-bottom:8px;
		img{
			@extend .center-block;
			width:100%;
			max-width: 200px;
		}
	}
	div.superfluousLogo{
		@extend .visible-xs-block;
		@extend .visible-sm-block;
		@extend .col-xs-12;
		padding-top:15px;

		img{
			@extend .center-block;
			width:100%;
			max-width: 200px;
		}
	}
}
#infoPane.closed{
	@include transition-property(height);
	@include transition-duration(800ms);
	height:0px;
	padding:0px;
	min-height:0px;
	border:none;
}
