@import "compass/reset";
@import "compass/css3";
@import "bootstrap";


//---start navBar styling
#navBar{
	@extend .navbar;
	@extend .navbar-default;

	>div{@extend .container-fluid;}
	div.collapsed-nav{
			@extend .navbar-header;
	 		a{@extend .navbar-brand;}
	};
}

#viewControls{
	@extend .collapse;
	@extend .navbar-collapse;

	>ul{
		@extend .nav;
		@extend .navbar-nav;
	}
	form{
		@extend .navbar-form; 
		@extend .navbar-left;

		>div{@extend .form-group}
		input{@extend .form-control}
	}
}



//---end navBar styling 

#playerList{
	@extend .col-xs-8;
}

.player{
	@extend .panel;
	@extend .panel-default;
	margin-bottom:5px;
	cursor:pointer;

	>div{
		@extend .panel-body;
		padding:5px 15px;
		
		div.name{font-weight:700;width:45%;float:left};
		div.position,div.team{margin-left:25px;float:left}
	}	
}
.player.selected{
	background-color:#F5F5F5;
}

#infoPane{
	@extend .col-xs-4;
	@extend .well;	
}